<ion-header>
    <ion-toolbar>
        <ion-title>
            Market
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <div>
            <div [attr.data-selected]="product._quantity ? true : null"
                 id="product-list" *ngFor="let product of products">
                <ion-card>
                    <img [src]="product.img" alt="" class="product-image" draggable="false">
                    <ion-card-header>
                        <ion-card-title>{{product.name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content padding-top="0px">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <p class="mbsc-txt-muted" style = " font-size:1.5em;" align-self-center="true">{{product.price}} DAI</p>
                            <div item-end>
                                <button ion-button color="primary" (click)="product._quantity = product._quantity - 1" [disabled]="product._quantity<=0">
                                    <ion-icon name="remove"></ion-icon>
                                </button>
                                <input ion-button clear style="text-align:center" type="tel" [(ngModel)]="product._quantity" name="quantity"
                                       class="input-quantity"/>
                                <button ion-button size="small" color="primary" (click)="product._quantity = product._quantity + 1">
                                    <ion-icon name="add"></ion-icon>
                                </button>
                            </div>
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-list no-margin>
        <ion-item no-padding>
            <ion-label padding-left>
                <strong style = " font-size:1.3em; color: royalblue;">Checkout : </strong>
                <span style = " font-size:1.3em; "> {{finalValue}} DAI </span>
            </ion-label>
            <ion-button [disabled]="!finalValue" item-end ion-button color="primary" (click)="purchase()" icon-left>
                <ion-icon name="cart"></ion-icon>
                Purchase
            </ion-button>
        </ion-item>
    </ion-list>
</ion-footer>

